#chart_div > div > div:nth-child(1) > div > svg > g:nth-child(4) > g > path{
    stroke: #6e9022;
    stroke-width: 2;
    fill-opacity: 1;
    fill: none;
    visibility: hidden;
}
#chart_div{
    x: 754;
    y: 103;
    width: 28;
    height: 7;
    stroke: none;
    stroke-width: 0;
    fill-opacity: 0.3;
    fill: #6e9022;
    visibility: hidden;
    stroke: #6e9022;
    stroke-width: 2;
    fill-opacity: 1;
    fill: none;
    visibility: hidden;
}
